Здравствуйте!

Вы запросили сброс пароля для аккаунта Med Tech.

Перейдите по ссылке ниже, чтобы установить новый пароль:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Если это были не вы, просто проигнорируйте это письмо.

Hello!

You requested a password reset for your Med Tech account.

Open the link below to set a new password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If this was not you, you can safely ignore this email.
